/* global styles */
.root {
    -fx-font-family: Helvetica, Arial, 'Microsoft Yahei', STXihei, sans-serif;
    -fx-font-size:12px;
    -fx-background-color:transparent;
}
.background{
	-fx-effect: dropshadow(three-pass-box,black,15,0,0,0);
}
.nav_bar{
	-fx-background-image:url("../images/top-bar.png");
	-fx-background-size:stretch;
}
.label_window_title{
	-fx-text-fill:whitesmoke;
}
.container{
	-fx-background-color:whitesmoke;
}
.dialog{
	-fx-background-color:gainsboro;
	-fx-background-radius:5px;
}
.dialog_container{
	-fx-background-color:whitesmoke;
	-fx-background-radius:0px 0px 5px 5px;
}

/* button styles */
.btn-primary{
	-fx-background-color:linear-gradient(to bottom,#08c,#04c);
	-fx-text-fill:white;
}
.btn-primary:hover{
    -fx-background-color: #04c;
}

/* window button styles */
.window_btn{
	-fx-background-color:transparent;
}
.window_btn:hover{
	-fx-background-color:#3665b3;
}
.window_btn.close_btn:hover{
	-fx-background-color:#c75050;
}
#image_window_btn_minus{
	-fx-image:url('../images/icon-dark/appbar.minus.png');
}
#image_window_btn_max{
	-fx-image:url('../images/icon-dark/appbar.app.png');
}
#image_window_btn_close{
	-fx-image:url('../images/icon-dark/appbar.close.png');
}
.root.max #image_window_btn_max{
	-fx-image:url('../images/icon-dark/appbar.window.restore.png');
}
.window_btn:hover #image_window_btn_minus{
	-fx-image:url('../images/icon-dark/appbar.minus.png');
}
.window_btn:hover #image_window_btn_max{
	-fx-image:url('../images/icon-dark/appbar.app.png');
}
.window_btn:hover #image_window_btn_close{
	-fx-image:url('../images/icon-dark/appbar.close.png');
}
.root.max .window_btn:hover #image_window_btn_max{
	-fx-image:url('../images/icon-dark/appbar.window.restore.png');
}

/* nav button styles */
.nav{
	-fx-background-color:transparent;
}
.nav:hover{
	-fx-background-color:linear-gradient(from 50% 30% to 50% 100%, transparent 0% , gainsboro 100%);
}
.nav.active{
	-fx-background-color:linear-gradient(from 50% 30% to 50% 100%, transparent 0% , gainsboro 100%);
}
.nav .label{
	-fx-text-fill:whitesmoke;
}

/* title styles */
.app_title{
	-fx-font-size:32px;
	-fx-text-fill:whitesmoke;
	-fx-font-weight:bold;
	-fx-effect: innershadow(three-pass-box,black,4,0,0,0);
}
.app_version{
	-fx-font-size:14px;
	-fx-text-fill:whitesmoke;
	-fx-font-weight:bold;
	-fx-effect: innershadow(three-pass-box,black,2,0,0,0);
}

/* Category list styles */
.category_list .label{
	-fx-max-width:80px;
}

/* Error styles */
.error_info{
	-fx-text-fill:red;
}

/* Media player styles*/
#stack_media_view{
	-fx-background-color:black;
}

/* styles for pane_meta_browse */
#pane_meta_browse .box{
	-fx-border-width:1px;
	-fx-border-color:transparent;
}
#pane_meta_browse .box.hover{
	-fx-background-color: lightgrey;
}
#pane_meta_browse .box.active{
	-fx-background-color: grey;
}
#pane_meta_browse .box.active .name.label{
	-fx-text-fill:white;
}
#pane_meta_browse .box.in-playlist{
	-fx-background-color: lightblue;
}
#pane_meta_browse .box.playing{
	-fx-background-color: lightgreen;
}
#pane_meta_browse .box.in-playlist.hover, #pane_meta_browse .box.playing.hover{
	-fx-border-color:grey;
}
#pane_meta_browse .box.in-playlist.active, #pane_meta_browse .box.playing.active{
	-fx-border-color:black;
}

/* RelationPane styles */
#pane_relation .segment .shape, #pane_relation .group .shape {
	-fx-fill: linear-gradient(#d6d6d6 50%, white 100%);
	-fx-effect: dropshadow(three-pass-box,black,5,0,0,0);
}
#pane_relation .hover  .shape {
	-fx-fill:linear-gradient(#b6b6b6 50%, lightgrey 100%);
}
#pane_relation .active  .shape {
	-fx-fill:linear-gradient(#909090 50%, #b3b3b3 100%);
}
#pane_relation .in-playlist .shape {
	-fx-fill:linear-gradient(lightblue 50%, white 100%);
	-fx-effect: dropshadow(three-pass-box,blue,5,0,0,0);
}
#pane_relation .playing .shape {
	-fx-fill:linear-gradient(lightgreen 50%, white 100%);
	-fx-effect: dropshadow(three-pass-box,green,5,0,0,0);
}
#pane_relation .line{
    -fx-stroke: #d3d4d488;
}
#pane_relation .hover.line {
	-fx-stroke:linear-gradient(#b6b6b6 50%, lightgrey 100%);
}
#pane_relation .active.line {
	-fx-stroke:linear-gradient(#909090 50%, #b3b3b3 100%);
}
#pane_relation .playing.hover .shape, #pane_relation .in-playlist.hover .shape{
	-fx-stroke-width:1px;
	-fx-stroke:grey;
}
#pane_relation .playing.active .shape, #pane_relation .in-playlist.active .shape{
	-fx-stroke-width:1px;
	-fx-stroke:black;
}

/* BlockSequencePane styles*/
#pane_block .block {
    -fx-background-color: linear-gradient(#d6d6d6 50%, white 100%);
	-fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
	-fx-min-width:10px;
	-fx-min-height:10px;
	-fx-pref-width:10px;
	-fx-pref-height:10px;
}
#pane_block .block-wrapper {
	-fx-padding:1.5px;
}
#pane_block .block.hover{
	-fx-background-color: linear-gradient(#b6b6b6 50%, lightgrey 100%);
}
#pane_block .block.active{
	-fx-background-color: linear-gradient(#909090 50%, #b3b3b3 100%);
}
#pane_block .block.in-playlist{
	-fx-fill:linear-gradient(lightblue 50%, white 100%);
	-fx-background-color: linear-gradient(#9dc8f6 50%, white 100%);
}
#pane_block .block.playing{
	-fx-fill:linear-gradient(lightgreen 50%, white 100%);
	-fx-background-color: linear-gradient(#80ff80 50%, white 100%);
}
#pane_block .block.in-playlist.hover, #pane_block .block.playing.hover{
	-fx-border-width:1px;
	-fx-border-color:linear-gradient(grey 50%, lightgrey 100%);
	-fx-effect: dropshadow(three-pass-box,black,2.2,0,0,0);
}
#pane_block .block.in-playlist.active, #pane_block .block.playing.active{
	-fx-border-width:1px;
	-fx-border-color:linear-gradient(black 50%, grey 100%);
	-fx-effect: dropshadow(three-pass-box,black,2.2,0,0,0);
}
#pane_block .block.in-playlist:hover {
	-fx-border-width:1px;
	-fx-border-color:linear-gradient(grey 50%, lightgrey 100%);
	-fx-effect: dropshadow(three-pass-box,black,2.2,0,0,0);
}
.operation{
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-opacity:0.75;
}
.segment .operation{
	-fx-scale-x:0.5;
	-fx-scale-y:0.5;
}
.logic-add .operation{
	-fx-background-image:url('../images/operation-add.png');
}
.logic-multiply .operation{
	-fx-background-image:url('../images/operation-multiply.png');
}
.logic-subtract .operation{
	-fx-background-image:url('../images/operation-subtract.png');
}

/* styles for media controls */
.media-control-btn{
	-fx-opacity:0.75;
}

/* styles for image buttons*/
.image-btn:hover {
	-fx-effect:dropshadow(three-pass-box,black,5,0,1,1);
}
.image-btn:pressed{
	-fx-translate-x:1px;
	-fx-translate-y:1px;
	-fx-effect:dropshadow(three-pass-box,black,5,0,0,0);
}

/* styles for header labels */
.header-label{
	-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
	-fx-font-size:12px;
	-fx-padding:2px;
}

/* styles for about info */
#grid_about_info{
	-fx-font-size:16px;
}
#grid_about_info .email{
	-fx-font-size:12px;
}

/* styles for zoom in list */
.zoom-in .name{
	-fx-font-size: 14px;
}
.zoom-in .desc{
	-fx-font-size: 12px;
	-fx-text-fill: grey;
}
#list_zoom_in .cell:selected .zoom-in .desc{
	-fx-text-fill: whitesmoke;
}
#list_zoom_in{
	-fx-background-color:rgb(244,244,244);
}
